<p style="color: green"><%= notice %></p>

<%= render @fragrance %>

<div>
  <%= link_to "Edit this fragrance", edit_fragrance_path(@fragrance) %> |
  <%= link_to "Back to fragrances", fragrances_path %>

  <%= button_to "Destroy this fragrance", @fragrance, method: :delete %>
</div>
